<h1>Real-time Search Analytics</h1>
<div id="search-box">
	<input type="text" id="search-input" placeholder="Type your search...">
	<div id="suggestions"></div>
</div>
<h2>Your most recent searchs</h2>
<ul id="search-terms">
	<% if @your_most_recent_terms.empty? %>
		<p>You have no searches yet</p>
	<% else %>
		<% @your_most_recent_terms.each do |search_term| %>
			<li><%= "#{search_term.term} (#{search_term.count})" %></li>
		<% end %>
	<% end %>
</ul>
<h2>Your top searches</h2>
<ul id="search-terms">
	<% if @your_most_frequent_terms.empty? %>
		<p>You have no top searches yet</p>
	<% else %>
		<% @your_most_frequent_terms.each do |search_term| %>
			<li><%= "#{search_term.term} (#{search_term.count})" %></li>
		<% end %>
	<% end %>
</ul>
<h2>Top searches of all users</h2>
<ul id="search-terms">
	<% if @most_frequent_terms.empty? %>
		<p>No top searches yet</p>
	<% else %>
		<% @most_frequent_terms.each do |search_term| %>
			<li><%= "#{search_term.term} (#{search_term.count})" %></li>
		<% end %>
	<% end %>
</ul>
<script>
	document.addEventListener('DOMContentLoaded', function () {
	  const searchInput = document.getElementById('search-input');
	  const suggestionsContainer = document.getElementById('suggestions');
	  let debounceTimeout;

	  searchInput.addEventListener('input', function () {
	    function displaySuggestions(suggestions) {
	        suggestionsContainer.innerHTML = '';

	        if (suggestions.length === 0) {
	          const noSuggestionsMessage = document.createElement('div');
	          noSuggestionsMessage.textContent = 'No similar queries found.';
	          suggestionsContainer.appendChild(noSuggestionsMessage);
	        } else {
	          suggestions.slice(0, 5).forEach(suggestion => {
	            const suggestionElement = document.createElement('div');
	            suggestionElement.textContent = `${suggestion.term} (${suggestion.count})`;
	            suggestionsContainer.appendChild(suggestionElement);
	          });
	        }
	      }

	      function fetchSuggestions(term) {
	        fetch(`/searches/suggestions?term=${term}`)
	          .then(response => response.json())
	          .then(data => displaySuggestions(data.suggestions));
	      }

	      function logSearch(term) {
	        fetch(`/searches`, {
	          method: 'POST',
	          headers: {
	            'Content-Type': 'application/json',
	            'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content
	          },
	          body: JSON.stringify({ term: term })
	        });
	      }

	    const term = searchInput.value.trim();

	    clearTimeout(debounceTimeout);

	    debounceTimeout = setTimeout(function () {
	      if (term !== '') {
	        fetchSuggestions(term);
	        logSearch(term);
	      } else {
	        suggestionsContainer.innerHTML = '';
	      }
	    }, 250);
	  });
	});
</script>
